<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" targetFramework="net48" version="2.2.6" />
  <package id="DarkNet" targetFramework="net48" version="2.3.0" />
  <package allowedVersions="[1.4.5, 1.4.5]" developmentDependency="true" id="Vsxmd" targetFramework="net48" version="1.4.5" />
</packages>