<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" targetFramework="net48" version="4.3.2" />
  <package allowedVersions="[4.6.1, 4.6.1]" id="System.Buffers" targetFramework="net48" version="4.6.1" />
  <package allowedVersions="[4.6.3, 4.6.3]" id="System.Memory" targetFramework="net48" version="4.6.3" />
  <package allowedVersions="[4.6.1, 4.6.1]" id="System.Numerics.Vectors" targetFramework="net48" version="4.6.1" />
  <package allowedVersions="[6.1.2, 6.1.2]" id="System.Runtime.CompilerServices.Unsafe" targetFramework="net48" version="6.1.2" />
  <package allowedVersions="[4.6.3, 4.6.3]" id="System.Threading.Tasks.Extensions" targetFramework="net48" version="4.6.3" />
  <package id="System.ValueTuple" targetFramework="net48" version="4.5.0" />
</packages>